
body {
  min-width: 600px;
}
main {
  height: 200px;
}
header {
  background-color: black;
  color: white;
}
aside {
  background-color: yellow;
  float: left;
  width: 15%;
  height: 100%;
}
article {
  background-color: red;
  float: left;
  width: 70%;
  height: 100%;
}
nav {
  background-color: orange;
  height: 100%;
}
footer {
  background-color: brown;
}
* {
  margin: 10;
  padding: 10;
}